<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>masterplan.</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/javascripts/json2.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery-1.4.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery-ui-1.8.9.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.serialize-object.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/backbone.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/icanhaz.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/masterplan.js" type="text/javascript" charset="utf-8"></script>

    <script id="feature" type="text/html" charset="utf-8">
      <td class="name">
        <span class="feature">
          <span class="selection">&rsaquo;</span>
          <span class="status"></span>
          <span class="value">{{name}}</span>
          <span class="edit" style="display:none">
            <input name="name" value="{{name}}">
          </span>
          <span class="icon delete"></span>
          <span class="icon handle"></span>
        </span>
      </td>
      <td class="person">
        <span class="value">{{person}}</span>
        <span class="edit" style="display:none"><input name="person" value="{{person}}" maxlength="3"></edit>
      </td>
      <td class="importance" data-importance="{{importance}}">
        <span class="value">{{importance}}</span>
        <span class="edit" style="display:none">
          <select name="importance">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </span>
      </td>
      <td class="target">
        <span class="value">{{target}}</span>
        <span class="edit" style="display:none"><input name="target" value="{{target}}"></span>
      </td>
      <td class="stage" data-stage="0">{{#stage}}<img src="/images/stage.png" alt="Current stage">{{/stage}}</td>
      <td class="stage" data-stage="1"></td>
      <td class="stage" data-stage="2"></td>
      <td class="stage" data-stage="3"></td>
      <td class="stage" data-stage="4"></td>
      <td class="stage" data-stage="5"></td>
      <td class="stage" data-stage="6"></td>
    </script>

    <script id="confirmation" type="text/html" charset="utf-8">
      <p>{{text}}</p>
      <p><a id="confirm-yes">YES</a> or <a id="confirm-no">NO</a></p>
    </script>

    <script id="stats" type="text/html" charset="utf-8">
      <tr class="nodrag">
        <td class="name">
          <span class="count">TOTAL: {{feature_count}}</span>
          <a class="icon" id="add"><span>ADD</span></a>
          <a class="icon" id="remove"><span>REMOVE</span></a>
          <a class="icon" id="done" style="display:none"><span>DONE</span></a>
        </td>
        <td class="person">&nbsp;</td>
        <td class="importance">&nbsp;</td>
        <td class="target">&nbsp;</td>
        <td class="stage stage-0">{{stage_0_count}}</td>
        <td class="stage stage-1">{{stage_1_count}}</td>
        <td class="stage stage-2">{{stage_2_count}}</td>
        <td class="stage stage-3">{{stage_3_count}}</td>
        <td class="stage stage-4">{{stage_4_count}}</td>
        <td class="stage stage-5">{{stage_5_count}}</td>
        <td class="stage stage-6">{{stage_6_count}}</td>
      </tr>
    </script>

    <script type="text/javascript" charset="utf-8">
      $(function(){
        Features.refresh(<%= @features.to_json %>);
        if (Features.any()) {
          MasterPlan.addAll();
        } else {
          MasterPlan.newFeature();
        }
        MasterPlan.moveSelectionDown();
      });
    </script>
  </head>
  <body>
    <h1>MASTERPLAN.</h1>
    <table id="feature-list">
      <thead>
        <tr class="nodrag">
          <th class="name">&nbsp;</th>
          <th class="person"><img src="/images/person.png" alt="Person" title="Person"></th>
          <th class="importance"><img src="/images/importance.png" alt="Importance" title="Importance"></th>
          <th class="target"><img src="/images/target.png" alt="Release Target" title="Release Target"></th>
          <th class="stage"><img src="/images/waiting.png" alt="Waiting" title="Waiting"></th>
          <th class="stage"><img src="/images/started.png" alt="Started" title="Started"></th>
          <th class="stage"><img src="/images/qa.png" alt="QA" title="QA"></th>
          <th class="stage"><img src="/images/staging.png" alt="Staging" title="Staging"></th>
          <th class="stage"><span title="Alpha">&alpha;</span></th>
          <th class="stage"><span title="Beta">&beta;</span></th>
          <th class="stage"><img src="/images/released.png" alt="Released" title="Released"></th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot></tfoot>
    </table>
  </body>
</html>
