* { font-family: Helvetica, arial, sans-serif; }
body { padding-bottom: 50px; min-width: 1100px; }
h1 { width: 95%; margin: 50px auto 20px; font-size: 400%; }
table { width: 95%; border-collapse: separate; border-spacing: 0; margin: 0 auto; }
table th,
table td { text-align: center; font-size: 14px; line-height: 2em; vertical-align: middle; background: #fff; }
thead th { padding: 4px 0; border: 2px solid #000; border-width: 2px 0; line-height: 1em; }
th.person,
th.importance,
th.stage { width: 70px; }
th#stage-0 { border-top-color: #ccc; background-color: #fafafa; }
th#stage-1 { border-top-color: yellow; background-color: #fffded; }
th#stage-2 { border-top-color: #f90; background-color: #fff5e5; }
th#stage-3 { border-top-color: #f90; background-color: #fff5e5; }
th#stage-4 { border-top-color: red; background-color: #fdd; }
th#stage-5 { border-top-color: red; background-color: #fdd; }
th#stage-6 { border-top-color: #0f0; background-color: #e5ffe5; }
th.target { width: 140px; }
tbody td { border-top: 1px solid #ccc; border-left: 1px solid #000; }
tbody tr:first-child td { border-top: 2px solid #000; }
tfoot td { border-top: 4px solid #000; }
td:first-child { text-align: left; border-left: 0; }
tr .selection { display: none; }
tr.selected .selection { display: block; position: absolute; left: -10px; top: 0; font-size: 1.4em; }
.feature { position: relative; display: block; padding-left: 10px; padding-right: 20px; margin: 2px 2px 2px 0; background: #fafafa; }
.feature .handle { position: absolute; top: 10px; right: 8px; width: 10px; height: 10px; background: transparent url("/images/handle.png") no-repeat 0 0; cursor: move; }
.feature .delete { position: absolute; top: 8px; right: 5px; width: 16px; height: 16px; background: transparent url("/images/delete.png") no-repeat 0 0; cursor: pointer; display: none; }
.editing .feature .handle { display: none; }
.deleting .feature .handle { display: none; }
.deleting .feature .delete { display: block; }
.feature .status { width: 4px; height: 100%; background: #ccc; position: absolute; left: 0; }
tr.active .feature { background: #fffded; }
tr.active .status { background: yellow; }
tr.testing .feature { background: #fff5e5; }
tr.testing .status { background: #f90; }
tr.finished .feature { background: #fdd; }
tr.finished .status { background: red; }
tr.released .feature { background: #e5ffe5; }
tr.released .status { background: #0f0; }
.edit input { width: 100%; padding: 0; margin: 0; border: 0; border-bottom: 1px dotted #000; background: transparent; outline: 0; font-size: 14px; }
.person .edit input { text-transform: uppercase; text-align: center; }
.target .edit input { text-align: center; }
#no-plans { text-align: center; padding: 20px; background: #fafafa; }
table tr.ui-sortable-helper td { border: 1px solid #ccc; border-width: 1px 0; }
#confirm-box { width: 340px; padding: 20px; position: fixed; left: 50%; top: 100px; margin-left: -200px; background: #000; color: #fff; text-align: center; border: 10px solid #eee; }
#confirm-box p { margin: 1em 0; }
#confirm-box a { border-bottom: 1px dotted #fff; cursor: pointer; }
tfoot .name { padding-right: 4px; }
tfoot .icon { width: 50px; height: 16px; float: right; margin: 5px 3px 0; cursor: pointer; background-position: 100% 50%; background-repeat: no-repeat; background-color: transparent; position: relative; }
tfoot .icon span { position: absolute; right: 20px; top: -5px; }
tfoot #add { background-image: url("/images/add.png"); }
tfoot #remove { background-image: url("/images/remove.png"); }
tfoot #done { background-image: url("/images/done.png"); }
